body {
	margin: 0px;
}

.background {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;

	background-color: black;
}

.timerBox {
	display: table-cell;
	vertical-align: middle;

	text-align: center;
	font-family: sans-serif;
	font-weight:bold;
	font-size: 35em;
}

.normalTime {
	color: white;
}

.warningTime {
	color: yellow;
}

.overTime {
	color: red;
}

.schedulePane {
	width: 70%;
	height: 90vh;
	margin: 3vh;
}

.schedule {
	margin: 2%;
	height: 96%;
	width: 40%;
	font-family: sans-serif;
}

.scheduleHeader {
	height: 5%;
	text-align: center;
}

.actualSchedule {
	height: 95%;
}

#scheduled {
	float: left;
}

#actual {
	float: right;
}

.event {
	text-align: center;
}

.svgOverlay {
	pointer-events: none;	
}