.row {
	height: 30px;
	margin-top: 10px;
}

.bar {
	height: 30px;
	background-color: #cccccc;
	border: 1px solid #aaaaaa;
}

.button {
	float: left;
	height: 30px;
	width: 100px;
	background-color: #9999bb;
	border: 1px solid #222299;
}