{% extends "timer/base.html" %}
{% load staticfiles %}

{% block content %}
<body>
	<div class=header>
		<form class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" id="scheduleName" data-bind="textInput: scheduleName">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="scheduleDate" data-bind="textInput: scheduleDate">
			</div>
			<button type="button" class="btn btn-default" data-bind="click:saveSchedule, css: { 'btn-primary': scheduleUnsaved}">Save Schedule</button>
		</form>
	<div class=schedulePane>
		<div class=scheduleHeader>
			<div class="scheduleHeaderText h1">Scheduled</div>
		</div>
		<div class="timelineDiv"></div>
	</div>
	</div>

	<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; window._initialScheduleName="{{name}}"; window._initialScheduleDate="{{date}}"; window._initialScheduleUrl="{{url}}"; window._isNew="{{isNew}}";</script>
	<script src="../static/scheduleEditor.js"></script>
</body>
{% endblock %}