{% extends "timer/base.html" %}
{% load staticfiles %}

{% block content %}
<body>
	<div class=header>
		<form class="form-inline">
			<a href="../scheduleEditor/{{url}}" target="_blank"><button type="button" class="btn btn-default">Open Schedule Editor</button></a>
			<a href="../timer/{{url}}" target="_blank"><button type="button" class="btn btn-default">Open Timer</button></a>
		</form>
	</div>
	<div class=schedulePane>
		<div class=scheduleHeader>
			<div class="scheduleHeaderText left h1">Scheduled</div>
			<div class="scheduleHeaderText right h1">Actual Timeline</div>
		</div>
		<div class="timelineDiv"></div>
	</div>
	<div class=controlsPane>
		<div class=infoPane>
			<h1>Current Event</h1>
			<div class=smallTimerBox data-bind="css: timeStatusClass">
			  <span data-bind='text: parsedTime'></span>
			</div>
			<p>Name: <span data-bind='text: currentEventName'></span></p>
			<p>Speaker: <span data-bind='text: currentSpeaker'></span></p>
			<table class=table>
				<thead>
					<tr>
						<th></th>
						<th>Start</th>
						<th>End</th>
						<th>Duration</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Scheduled</td>
						<td data-bind='text: scheduledStart'></td>
						<td data-bind='text: scheduledEnd'></td>
						<td><span data-bind='text: scheduledDuration'></span>m</td>
					</tr>
					<tr>
						<td>Actual</td>
						<td data-bind='text: actualStart'></td>
						<td data-bind='text: actualEnd'></td>
						<td><span data-bind='text: actualDuration'></span>m</td>
					</tr>
					<tr>
						<td>Difference</td>
						<td data-bind='text: differenceStart'></td>
						<td data-bind='text: differenceEnd'></td>
						<td data-bind='text: differenceDuration'></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="buttonPane">
			<p>
				<button id="endButton" type="button" class="btn btn-lg btn-block" disabled="disabled" data-bind="click: endEvent">End current event</button>
			</p>
			<p>
				<button id="startButton" type="button" class="btn btn-lg btn-block" data-bind="click: startEvent">Start event</button>
			</p>
			<hr>
			<h1>Controls</h1>
			<p>
				<button type="button" class="btn btn-lg btn-block" data-bind="css: { 'btn-primary active': controlAutoStart }, click:controlSetAutoStart">Automatically start next event</button>
			</p>
<!-- 			<p>
				<button type="button" class="btn btn-lg btn-block" data-bind="css: { 'btn-primary active': controlMoveEventsUp }, click:controlSetMoveEventsUp">Move events up when one ends early</button>
			</p> -->
<!-- 			<p>
				<div class="half left">
					<button type="button" class="btn btn-primary btn-lg btn-block active col-md-6;">Make up slippage with gaps</button>
				</div>
				<div class="half right">
					<button type="button" class="btn btn-default btn-lg btn-block col-md-6">Maintain gaps</button>
				</div>
			</p> -->
			<p>
				<div class="half left">
					<button type="button" class="btn btn-lg btn-block col-md-6;" data-bind="css: { 'btn-primary active': !controlMaintainDayEnd() }, click:controlSetMaintainDayEnd">Maintain event durations</button>
				</div>
				<div class="half right">
					<button type="button" class="btn btn-lg btn-block col-md-6" data-bind="css: {'btn-primary active': controlMaintainDayEnd }, click:controlSetMaintainDayEnd">Maintain ending time</button>
				</div>
			</p>
		</div>


	</div>

	<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; window._initialScheduleName="{{name}}"; window._initialScheduleDate="{{date}}"; window._initialScheduleUrl="{{url}}"; window._isNew="{{isNew}}";</script>
	<script src="../static/timerControl.js"></script>
</body>
{% endblock %}